Some packages that need to be installed on Debian 12.

pkgconf
protobuf-compiler
libasound2-dev
libblas-dev
libbz2-dev
libcairo2-dev
libdbusmenu-gtk3-dev
libgirepository1.0-dev
libglew-dev
libglib2.0-dev
libgsl-dev
libicu-dev
liblapack-dev
liblzma-dev
libmariadb-dev
libmysqlclient-dev
libpcap-dev
libpcre3-dev
libpq-dev
libsdl2-dev
libsdl2-gfx-dev
libsdl2-image-dev
libsdl2-mixer-dev
libsdl2-ttf-dev
libxft-dev
libxrandr-dev
libxss-dev
libzstd-dev
